body {
  font-family: "Poppins", sans-serif;
  margin: 0%;
}
h1 {
  font-size: 50px;
}
h3{
    font-size: 40px;
}
h2{
    font-size: 40px;
}
h4{
    color: orange;
}
.orange-color {
  color: orange;
}
.first-sec{
    display: flex;
    margin-bottom: 120px;
}
.flexible{
    display: flex;
    margin-bottom: 120px;
}
.half-width {
    width: 50%;
    padding-left: 3%;
    padding-right: 2%;
}
.half-width img{
    width: 80%;
}
.hire-button{
    text-decoration: none;
    background-image:linear-gradient(rgb(187, 58, 7), orangered);
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 4%;
    color: wheat;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
#LM10{
    width: 100%;
    border-radius: 20px;
}
.third-section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-area{
    width: 50%
}
.third-sec{
    margin-top: 80px;
    display: flex;
    margin-bottom: 150px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.stack-dev{
    width: 50%;
    margin-left: 5%;
    margin-right: 2%;
    box-shadow: 10px 10px 40px gray;
    padding-left: 2%;
    border-radius: 10px;
}
#f-stack-dev{
    border-left: 8px solid;
    border-image: linear-gradient(purple, tomato);
    border-image-slice: 1;
}
#web-dev{
    border-left: 8px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 12px;
}